.rect1 { 
    position: absolute;
    width: 82%;
    height: 50px;
    background-color: rgb(46, 204, 113);  
    }
.rect2 { 
    width: 18%;
    height: 50px;
    background-color:rgb(41, 128, 185);
    margin-left: 82%; 
    }
.rect3 { 
    position: absolute;
    width: 40%;
    height: 150px;
    background-color: rgb(231, 76, 60); 
    }
.rect4 { 
    position: absolute;
    width: 30%;
    height: 75px;
    background-color: rgb(230, 126, 34); 
    margin-left: 40%;
    }
.rect5 { 
    width: 30%;
    height: 75px;
    background-color: rgb(149, 165, 166); 
    margin-left: 70%;
    }
.rect6 { 
    position: absolute;
    width: 20%;
    height: 75px;
    background-color: rgb(243, 156, 18);
    margin-left: 40%; 
    }
.rect7 { 
    position: absolute;
    width: 20%;
    height: 75px;
    background-color: rgb(22, 160, 133);
    margin-left: 60%; 
    }
.rect8 { 
    width: 20%;
    height: 75px;
    background-color: rgb(211, 84, 0); 
    margin-left: 80%;
    }
.rect9 { 
    width: 100%;
    height: 300px;
    background-color: rgb(44, 62, 80); 
    }